In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataset_path ='datasets/'
big_dataset_path ='datasets/big_datasets'
crimes_path = os.path.join(big_dataset_path, 'crimes.csv')
affordable_houses_path = os.path.join(dataset_path, 'Affordable_Rental_Housing_Developments.csv')
police_station_path = os.path.join(dataset_path, 'Police_Stations.csv')
socio_economic_indicators_path = os.path.join(dataset_path, 'Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv')

In [3]:
#crimes_df = pd.read_csv(crimes_path, nrows = 75000)
crimes_df = pd.read_csv(crimes_path)
#affordable_houses_df = pd.read_csv(affordable_houses_path)
#police_station_df = pd.read_csv(police_station_path)
#socio_economic_indicators_df = pd.read_csv(socio_economic_indicators_path)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
crimes_no_na_df = crimes_df.dropna()

In [37]:
block_primary_type_df = crimes_no_na_df[['Block', 'Primary Type']]
latitude_longitude_type_df = crimes_no_na_df[['Latitude', 'Longitude', 'Primary Type']]

In [38]:
#block_primary_type_df.to_csv(os.path.join(dataset_path, 'block_and_primary_type.csv'))

In [39]:
#latitude_longitude_type_df.to_csv(os.path.join(dataset_path, 'latitude_longitude_and_primary_type.csv'))

In [40]:
socio_economic_indicators_df

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [45]:
crimes_no_na_df[['District']]

       District
60328        16
62254         1
62596         2
62629        24
62630         2
...         ...
74995        10
74996        10
74997        12
74998        16
74999        10

[10222 rows x 1 columns]

In [41]:
crimes_no_na_df.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
60328,11556037,JC103643,01/03/2019 07:20:00 PM,0000X W RWY 27R,2890,PUBLIC PEACE VIOLATION,OTHER VIOLATION,AIRCRAFT,False,False,...,41.0,76.0,26,1100374.0,1943906.0,2019,08/17/2019 03:57:45 PM,42.002816,-87.906094,"(42.002816387, -87.90609433)"
62254,11626027,JC188126,03/16/2019 05:58:00 PM,001XX N WELLS ST,0460,BATTERY,SIMPLE,STREET,False,False,...,42.0,32.0,08B,1174723.0,1900866.0,2019,08/17/2019 03:57:45 PM,41.883369,-87.633860,"(41.88336939, -87.633860272)"
62596,11622422,JC183696,03/12/2019 10:00:00 PM,008XX E 38TH PL,0820,THEFT,$500 AND UNDER,RESIDENTIAL YARD (FRONT/BACK),False,False,...,4.0,36.0,06,1182276.0,1879784.0,2019,08/17/2019 03:57:45 PM,41.825347,-87.606781,"(41.825346902, -87.606780575)"
62629,11625922,JC185669,03/14/2019 06:42:00 PM,074XX N PAULINA ST,0460,BATTERY,SIMPLE,RESIDENCE,False,False,...,49.0,1.0,08B,1163827.0,1949311.0,2019,08/17/2019 03:57:45 PM,42.016542,-87.672499,"(42.016541612, -87.672499325)"
62630,11622907,JC185406,03/14/2019 04:03:00 PM,008XX E 38TH PL,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,False,True,...,4.0,36.0,26,1182227.0,1879766.0,2019,08/17/2019 03:57:45 PM,41.825299,-87.606961,"(41.825298645, -87.6069609)"
62704,11626065,JC187902,03/16/2019 03:16:00 PM,069XX W FARRAGUT AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,41.0,10.0,08B,1129134.0,1934430.0,2019,08/17/2019 03:57:45 PM,41.976371,-87.800503,"(41.976370778, -87.800502515)"
63156,11647322,JC215040,04/07/2019 04:08:00 AM,001XX W CONGRESS PKWY,051A,ASSAULT,AGGRAVATED: HANDGUN,STREET,True,False,...,25.0,32.0,04A,1174840.0,1898032.0,2019,08/17/2019 03:57:45 PM,41.875590,-87.633516,"(41.875590103, -87.633515501)"
63295,11662372,JC214427,04/06/2019 03:00:00 AM,055XX S CARPENTER ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,True,...,16.0,68.0,02,1170258.0,1868054.0,2019,06/30/2019 03:56:27 PM,41.793429,-87.651213,"(41.793428982, -87.651212789)"
63297,11661908,JC226688,04/16/2019 01:25:00 PM,021XX W CERMAK RD,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA BUS,False,False,...,25.0,31.0,14,1162544.0,1889385.0,2019,08/17/2019 03:57:45 PM,41.852128,-87.678904,"(41.852128157, -87.67890364)"
63330,11661997,JC228271,04/17/2019 03:45:00 PM,034XX W ARMITAGE AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,26.0,22.0,06,1153253.0,1913079.0,2019,08/17/2019 03:57:45 PM,41.917336,-87.712375,"(41.917336159, -87.712375085)"

In [42]:
police_station_df.head()

,DISTRICT,DISTRICT NAME,ADDRESS,CITY,STATE,ZIP,WEBSITE,PHONE,FAX,TTY,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,Headquarters,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,http://home.chicagopolice.org,NaN,NaN,NaN,1177731.401,1881697.404,41.830702,-87.623395,"(41.8307016873, -87.6233953459)"
1,1,Central,1718 S State St,Chicago,IL,60616,http://home.chicagopolice.org/community/distri...,312-745-4290,312-745-3694,312-745-3693,1176569.052,1891771.704,41.858373,-87.627356,"(41.8583725929, -87.627356171)"
2,6,Gresham,7808 S Halsted St,Chicago,IL,60620,http://home.chicagopolice.org/community/distri...,312-745-3617,312-745-3649,312-745-3639,1172283.013,1853022.646,41.752137,-87.644229,"(41.7521368378, -87.6442289066)"
3,11,Harrison,3151 W Harrison St,Chicago,IL,60612,http://home.chicagopolice.org/community/distri...,312-746-8386,312-746-4281,312-746-5151,1155244.069,1897148.755,41.873582,-87.705488,"(41.8735822883, -87.705488126)"
4,16,Jefferson Park,5151 N Milwaukee Ave,Chicago,IL,60630,http://home.chicagopolice.org/community/distri...,312-742-4480,312-742-4421,312-742-4423,1138480.758,1933660.473,41.974094,-87.766149,"(41.9740944511, -87.7661488432)"

In [47]:
police_station_df[['LATITUDE', 'LONGITUDE']].to_csv(os.path.join(dataset_path, 'pol'))

     LATITUDE  LONGITUDE
0   41.830702 -87.623395
1   41.858373 -87.627356
2   41.752137 -87.644229
3   41.873582 -87.705488
4   41.974094 -87.766149
5   41.999763 -87.671324
6   41.801811 -87.630560
7   41.779632 -87.660887
8   41.918609 -87.765574
9   41.856685 -87.708382
10  41.880083 -87.768200
11  41.766431 -87.605748
12  41.947400 -87.651512
13  41.921103 -87.697452
14  41.778987 -87.708864
15  41.707933 -87.568349
16  41.979550 -87.692845
17  41.903242 -87.643352
18  41.862977 -87.656973
19  41.837394 -87.646408
20  41.691435 -87.668520
21  41.692723 -87.604506
22  41.966053 -87.728115

In [10]:
# %load byyear.py
from datetime import datetime
from tqdm import tqdm
import numpy as np
import pandas as pd
import os

def generateByYearCSV(dataset, dates, year):

    df_date = np.empty(0, dtype=np.dtype('U100'))
    df_carea = np.empty(0, dtype=np.dtype('i4'))
    df_type = np.empty(0, dtype=np.dtype('U100'))
    df_num = np.empty(0, dtype=np.dtype('i4'))
    for d in tqdm(sorted(dates, key=lambda date: datetime.strptime(date, "%m/%d/%Y"))):
        # Isolate year
        date = d.split('/', -1)
        y = date[2]
        if d == '02/07/2003':
            print("d_set")
            print(dataset[d])
        # If the year chages, create .csv and start new csv dataset
        if y == year:
            d_arr = np.empty((dataset[d].keys()).size, dtype=np.dtype('U100'))
            c_arr = np.empty(0, dtype=np.dtype('i4'))
            t_arr = np.empty(0, dtype=np.dtype('U100'))
            n_arr = np.empty(0, dtype=np.dtype('i4'))
            d_arr = np.full_like(d_arr, d)
            tmp_keys = pd.unique(dataset[d].keys().values.ravel('K'))
            for tk in tmp_keys:
                c_id = tk[0]
                k = tk[1]
                c_arr = np.insert(c_arr, c_arr.size, c_id)
                t_arr = np.insert(t_arr, t_arr.size, k)
                n_arr = np.insert(n_arr, n_arr.size, dataset[d][c_id][k])
            df_date = np.concatenate((df_date, d_arr), axis=None)
            df_carea = np.concatenate((df_carea, c_arr), axis=None)
            df_type = np.concatenate((df_type, t_arr), axis=None)
            df_num = np.concatenate((df_num, n_arr), axis=None)
    csv_name = 'crimes_by_type_year'+year+".csv"
    final_df = pd.DataFrame({'Date': df_date, 'Community Area': df_carea, 'Primary Type': df_type, 'Number': df_num})
    final_df.to_csv(os.path.join('datasets/', csv_name))

In [6]:
def getYear(v):
    val = v.split(' ', -1)
    return val[0]

In [7]:
from datetime import datetime
from tqdm import tqdm
type_zone = crimes_no_na_df[['Date', 'Community Area', 'Primary Type']]
type_zone['Date'] = type_zone['Date'].map(getYear)
test = type_zone.groupby(type_zone.columns.tolist(),as_index=False).size()
dates = type_zone['Date'].unique()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [8]:
crimes_no_na_df = None
crimes_df = None
del crimes_df
del crimes_no_na_df

In [11]:
generateByYearCSV(test, dates, "2003")
#generateByYearCSV(test, dates, "2004")
#generateByYearCSV(test, dates, "2005")
#generateByYearCSV(test, dates, "2006")
#generateByYearCSV(test, dates, "2007")
#generateByYearCSV(test, dates, "2008")
#generateByYearCSV(test, dates, "2009")

 11%|â–ˆ         | 735/6985 [00:45<8:05:26,  4.66s/it]

KeyboardInterrupt:

In [28]:
crimes_no_na_df[['Community Area', 'Primary Type']]

       Community Area            Primary Type
60328            76.0  PUBLIC PEACE VIOLATION
62254            32.0                 BATTERY
62596            36.0                   THEFT
62629             1.0                 BATTERY
62630            36.0           OTHER OFFENSE
...               ...                     ...
74995            29.0                STALKING
74996            30.0                BURGLARY
74997            24.0                 ASSAULT
74998            11.0                 ASSAULT
74999            31.0                   THEFT

[10222 rows x 2 columns]